DISCORD_TOKEN=COLOQUE_SEU_TOKEN_AQUI
CLIENT_ID=ID_DA_APLICACAO
GUILD_ID=ID_DO_SERVIDOR
ADMIN_ROLE_ID=1548394825009864734

# Opcional: deixe vazio e configure pelo /set
LOG_CHANNEL_ID=
REPORT_CHANNEL_ID=
REPORT_CATEGORY_ID=

# Opcional
BOT_NAME=Ecco Admin
